.modalOverlay
{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  margin:0;
  padding:0;
  background:#000;
 opacity:0;
  -webkit-transition: opacity 0.3s ease-in;
  z-index:101;
}

.modalWindow
{
  position:fixed;
  top:100px;
  margin:0;
  border:2px solid #fff;
  width:700px;
  /*height:30px;*/
  text-align:left;
  word-spacing:2px;
  line-height:15px;
  font-weight:bold;
  font-size:13px;
  color:#fff;
  padding:10px;
  opacity:0;
  z-index:102;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7c9bc0), color-stop(2%, #416086), color-stop(100%, #293e56));
  -webkit-border-radius:8px;
  -webkit-box-shadow:-1px 2px 12px rgba(0, 0, 0, 0.91);
  -webkit-transition: opacity 0.3s ease-in;
}

#copyright{
  display:block;

  position:absolute;
  bottom:0;
  right:0;    
}